.task-list {
    padding-left: 0;

    .wiki & {
        padding-left: 0;
    }

    + .wiki-anchor,
    .task-list-item .wiki-anchor {
        display: none;
    }
}

.task-list-clickable {
    .task-list-item-label {
        cursor: pointer;
    }
}

.task-list-item {
    position: relative;
    margin-bottom: 2px;
    padding-left: 20px;
    list-style: none;

    .task-list-item-label {
        display: inline-block;
        min-height: 20px;
        margin-bottom: 0;
        font-weight: normal;
        line-height: 20px;
    }

    .task-list-item-checkbox {
        position: absolute;
        margin-top: .25em;
        margin-left: -20px;
    }
}
